.status0 {background-color: tranparent;}
.status1 {background-color: #88F;}
.status2 {background-color: #F88;}
.status3 {background-color: #BBB;}
.status4 {background-color: #8F8;}
td,th {padding: 3 3 3 3;}
.ldiv {float:left; padding-right :50px;}
.menu {position: absolute; left: 10px;}
#content {position: absolute; left: 150px;}
.output {overflow: auto; width: 800px; height: 400px;}
.paging {font-size: 75%;}
.wide {position:relative;width:100%;}
.dl_link {font-size: 75%; position:absolute; right:0;}